<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">撤销已已授予的许可</h5>
        <button
          type="button"
          class="close"
          (click)="close()">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        您确定要撤销授予xxx的许可吗？这将清除该用户的会员信息。撤销后，您可以继续把该许可授权给其他人使用。
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="revoke()"
          >是的，我要撤销</button>
      </div>
    </div>
  </div>
</div>
