<div class="cart-container">
  <h2 class="text-center">购物车</h2>

  <ng-container *ngIf="cartService.totalItems; else elseBlock">
    <ng-container *ngFor="let cart of cartService.cartsArray">
      <div *ngIf="cart.count" class="card mb-3">

        <div class="card-header">
          {{cart.plan.tier | edition}}
        </div>

        <div class="p-3 border-bottom">
          <span class="text-danger">新增订阅</span> x
          <input
            #newSubs
            style="width: 3em;"
            type="number"
            [value]="cart.newSubs"
            (change)="setNewSubs(cart.plan, newSubs.value)" />
        </div>

        <div *ngIf="cart.renewals.size">
          <div class="p-3">
            <span class="text-danger">续订</span> x
            <span>{{cart.renewals.size}}</span>
          </div>
          <ul *ngIf="cart.renewals.size" class="list-group list-group-flush">
            <li *ngFor="let lic of cart.renewalLicences" class="list-group-item d-flex justify-content-between">
              <span>{{lic.expireDate}}</span>
              <ng-container [ngSwitch]="lic.status">
                <span *ngSwitchCase="'available'">
                  无使用者
                </span>
                <span *ngSwitchCase="'invited'">
                  {{lic.lastInviteeEmail}} (尚未接受邀请)
                </span>
                <span *ngSwitchCase="'granted'">
                  {{lic.assignee.email}}
                </span>
              </ng-container>

              <button
                class="btn btn-danger"
                type="button"
                (click)="removeRenwal(lic)">删除</button>
            </li>
          </ul>
        </div>

        <div class="card-footer text-right">
          <div>{{cart.plan.price | currency:'CNY':'symbol-narrow'}}/{{cart.plan.cycle | cycle}}/份</div>

          <div class="text-danger">{{cart.unitPrice | currency:'CNY':'symbol-narrow'}} x {{cart.count}} = {{cart.totalAmount}}</div>

          <div class="text-muted" *ngIf="cart.discount.priceOff">享满{{cart.discount.threshold}}份每份减{{cart.discount.priceOff}}元</div>
        </div>
      </div><!-- End card -->

    </ng-container>

    <div class="pt-5 d-flex justify-content-between" *ngIf="this.cartService.totalAmount">
      <span class="text-center">应付总额 {{this.cartService.totalAmount | currency:'CNY':'symbol-narrow'}}</span>
      <button class="btn btn-primary">结算</button>
    </div>
  </ng-container>

  <ng-template #elseBlock>
    <p class="text-center">购物车空空～ <a routerLink="/products">去订阅</a> 或 <a routerLink="/licences">续订</a></p>
  </ng-template>
</div> <!-- End cart container -->


