<div class="w-xl-50 cart">
  <h2 class="text-center">购物车</h2>

  <ng-container *ngIf="cartService.totalCopies; else elseBlock">
    <ng-container *ngFor="let cartItem of cartService.cartItems">
      <div class="card mb-3">

        <div class="card-header">
          {{cartItem.price.tier | edition}}/{{cartItem.price.cycle | cycle}}
        </div>

        <div class="p-3 border-bottom">
          <span class="text-danger">新增订阅</span>
          <button class="btn btn-light"
            (click)="incr(cartItem.price)">-</button>
          <input
            #newSubs
            type="number"
            [disabled]="disabled"
            [value]="cartItem.newCopies"
            (change)="setNewSubs(cartItem.price, newSubs.value)" />
          <button class="btn btn-light"
            (click)="decr(cartItem.price)">+</button>
        </div>

        <div>
          <div class="p-3">
            <span class="text-danger">续订</span> x
            <span>{{cartItem.countRenewalCopies}}</span>
          </div>
          <ul
            class="list-group list-group-flush">

            <li *ngFor="let lic of cartItem.renewalLicences" class="list-group-item d-flex justify-content-between">
              <span>{{lic.periodEndUtc}}</span>
              <ng-container [ngSwitch]="lic.status">
                <span *ngSwitchCase="'available'">
                  无使用者
                </span>
                <span *ngSwitchCase="'invited'">
                  {{lic.lastInviteeEmail}} (尚未接受邀请)
                </span>
                <span *ngSwitchCase="'granted'">
                  {{lic.assignee.email}}
                </span>
              </ng-container>

              <button class="btn btn-danger" type="button" (click)="removeRenwal(lic)">删除</button>
            </li>
          </ul>
        </div>

        <div class="card-footer text-right">
          <div>
            {{cartItem.productPrice.unitAmount | currency:'CNY':'symbol-narrow'}}/份
            x {{cartItem.totalCopies}}
          </div>

          <div class="text-danger">
            = {{cartItem.totalAmount | currency:'CNY':'symbol-narrow'}}
          </div>
        </div>
      </div><!-- End card -->

    </ng-container>

    <div class="pt-5 d-flex justify-content-between" *ngIf="this.cartService.totalAmount">

      <span>应付总额 {{this.cartService.totalAmount | currency:'CNY':'symbol-narrow'}}</span>

      <button class="btn btn-primary" type="button" (click)="checkout()" [disabled]="disabled">结算</button>
    </div>
  </ng-container>

  <ng-template #elseBlock>
    <p class="text-center">购物车目前空空的哦～ <a [routerLink]="productsLink">去订阅</a> 或 <a [routerLink]="licencesLink">续订</a></p>
  </ng-template>
</div> <!-- End cart container -->
