<div class="row">
  <div class="col-md-12 col-lg-9">
    <h2 class="mb-3">已购买的许可</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>截止日期</th>
          <th>订阅方案</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lic of licences">
          <td><a [routerLink]="lic.id">{{lic.id}}</a></td>
          <td>{{lic.expireDate}}</td>
          <td>
            <span>{{lic.plan.tier | edition}}</span>

            <button
              type="button"
              class="btn btn-link"
              [class.addedToCart]="isInRenewList(lic)"
              (click)="renew(lic)"
              [disabled]="disableRenew(lic)">
              续订
            </button>
          </td>
          <ng-container [ngSwitch]="lic.status">
            <td *ngSwitchCase="'available'">
              <span>未使用</span>
              <button type="button">发送邀请</button>
            </td>
            <td *ngSwitchCase="'invited'">
              <span>已邀请 {{lic.lastInviteeEmail}}</span>
              <button type="button">撤回邀请</button>
            </td>
            <td *ngSwitchCase="'granted'">
              <span>已授权 {{lic.assignee.email}}</span>
              <button type="button">撤销授权</button>
            </td>
          </ng-container>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12 col-lg-3">

    <h4 class="text-center">
      <a href="/checkout">购物车 </a>
      <span>{{cartService.totalItems}}</span>
    </h4>

    <div class="card mt-3" *ngFor="let product of products">
      <div class="card-body">
        <h3 class="card-title text-center">{{product.heading}}</h3>

        <div class="text-center">
          {{ product.plan.price | currency: 'CNY':'symbol-narrow' }}/{{product.plan.cycle | cycle}}
        </div>

      </div><!-- End of card body -->
    </div><!-- End of card -->

    <h5 class="mt-3">续订</h5>
    <ul>
      <li>每份许可仅可续订下一年</li>
      <li>如需续订多份许可，点击每份许可的续订按钮，添加到购物车后一次性结算</li>
      <li>折扣方案同新订阅</li>
    </ul>
    <h5>许可状态</h5>
    <p>每份许可处于三种状态之一：</p>
    <ul>
      <li>未使用：此时您可以发送邀请给所属机构成员，接受者邀请邮件后点击邮件内的链接可以获得该许可；</li>
      <li>已邀请：您已经发送了邀请邮件而接受者尚未接受期间，可以撤回邀请</li>
      <li>已授权：被邀请人已经接受了该许可，此时您可以撤销授权，使用者的会员状态将被收回。</li>
    </ul>
    <p>一份许可在任何时间段仅供一位用户使用。</p>
  </div>
</div>
