<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">撤销已发送的邀请</h5>
        <button type="button" class="close" (click)="close()">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        您确定要撤销发送给 <strong>{{licence.lastInviteeEmail}}</strong> 的邀请吗？若受邀者已经接受了邀请，则撤销无效
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="revoke()"
          >是的，我要撤销</button>
      </div>
    </div>
  </div>
</div>
