app-toolbar {
  width: 100%;
  height: 68px;
  background-color: $color-paper;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-black20;

  a {
    color: $color-black80;

    &:hover {
        color: $color-black70;
    }
  }

  .ftc-brand {
    a:hover {
     text-decoration: none;
    }
  }

  .cart-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 2em;
    cursor: pointer;
    background-color: white;
    position: relative;
    .badge {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
    }
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}
