.row {
  margin-top: 10px;
}

// table
.licence-table {
  box-shadow: 0 4px 6px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  background-color: #fff;

  tbody {
    display: block;
    height: 450px;
    overflow-y: scroll;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
  }

  tr td {
    vertical-align: middle !important;
    word-wrap: break-word;
  }

  .renew {
    vertical-align: initial !important;
  }
}

// 成员管理
.staffer {
  width: 70%;
  margin-left: 0 !important;

  .leftTd {
    text-align: left;
    padding-left: 30px;
  }

  .rightTd {
    text-align: right;
    padding-right: 30px;
  }
}

// class="w-xl-50"
.w-xl-50 {
  .prompt {
    font-size: 20px !important;
  }

  &.setting {
    margin: initial;

    button {
      display: block;
      width: 100%;
    }
  }
}

// 按钮
.btn {
  margin: 0 auto;
  opacity: initial;

  &.btn-primary:disabled {
    opacity: initial;
  }

  &.btn-former {
    padding: 0 .75rem !important;
  }
}


// 订单管理
.order-item {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;

  .order {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px #0000001f, 0 0 6px rgba(0, 0, 0, .04);
    background-color: #fff;
    width: 45%;
    text-align: left;
    padding: 2rem 3rem !important;
    margin-left: 2rem;


    .order-btn {
      text-align: center;

      .btn {
        font-size: 18px !important;
      }
    }
  }
}

//登录页面
.mt-5 {
  margin-top: 1rem !important;
}

// 设置所属机构
.jumbotron {
  background-color: initial;
  padding: 2rem 1rem !important;
}

// 购买
.card-body {
  text-align: center !important;

  .text-center {
    font-size: 23px !important;
  }

  ul li {
    display: list-item;
    font-size: 18px;
    text-align: left !important;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-size: 1.5em;
    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?tint=26747a&format=svg&source=ftchinese);
    background-repeat: no-repeat;
    background-position: left top;
  }

  small {
    display: block;
    margin: 0 0 1rem 1rem !important;
  }

  .program {
    text-align: left !important;
    margin-left: 2rem !important;
    font-size: 1rem !important;
  }
}

.small-size {

  h4,
  h5 {
    font-size: 20px !important;
  }

  p {
    font-size: 18px !important;
  }

  ol,
  ul {
    font-size: 18px !important;

    li {
      margin-bottom: 5px !important;
    }
  }
}

// 客服
.service {
  margin-top: 1rem;

  .phone-number {
    color: $color-teal;
    margin-bottom: 0 !important;
  }

  small {
    display: block;
    color: $color-teal;
    text-align: center !important;
    margin: .4rem 0 !important;
  }

  .customer {
    padding: .5rem 0;
    color: $color-teal;
    margin: 0 auto;
    font-weight: 400;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .12), 0 0 8px rgba(0, 0, 0, .04);
    border-radius: .5rem;
    background-color: #fff;
    text-align: center;
  }

  .icon {
    text-align: center;

    .icons {
      display: inline-block;
      padding: 1rem;
      margin: 0 auto;

      &.mailbox img {
        width: 37px;
      }

      img {
        color: $color-teal;
        height: 30px;
      }


      &.weChat {
        position: relative;
      }

      &.weChat .qrCode {
        position: absolute;
        right: -28px;
        top: 60px;
        z-index: 99;
        width: 120px;
        height: 160px;

        border-radius: 4px;
        transform-origin: top right;
        transform: scale(0);
        opacity: 0;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }

      &.weChat:hover .qrCode {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

// 会员管理
.member {
  margin-top: 1.5rem !important;
}

//购物车
.cart {
  width: 100%;
  margin-left: 0 !important;

  .card {
    box-shadow: 0 4px 6px #0000001f, 0 0 6px rgba(0, 0, 0, .04);
    background-color: #fff;
    font-size: 20px !important;
  }

  p {
    font-size: 20px !important;
  }

  .d-flex {
    align-items: center;
    font-size: 20px !important;

    .btn {
      margin: initial;
    }
  }

  .text-danger {
    color: #9e2f50 !important;
  }
}

// 弹窗
.modal-content {
  .modal-header {
    h5 {
      font-size: 23px !important;
    }
  }

  .modal-body {
    dt {
      float: left;
    }

    dd {
      margin-left: 5rem;
    }
  }

  .modal-footer {
    border-top: initial;
  }
}

//字体大小
.text-center {
  font-size: 25px !important;
}

// h2
.mb-3 {
  font-size: 23px;
}



.border-bottom {
  border-bottom: 1px solid #26747a
}
